.margin-top_push {
    margin-top: 20%;
    .radio-btn_group {
        border: 1px solid darkorange;
        background-color: white;
        color: darkorange;
        display: block;
        width: 50%;
        margin: auto;
        margin-top: 25px;
        cursor: pointer;
        height: 50px;
        line-height: 50px;
        border-radius: 5px;
        &:hover {
            background-color: darkorange;
            border-color: white;
            color: white;
        }
        input[type="radio"] {
            margin-right: 12px;
            &:checked ~ .radio-btn_group {
                background-color: darkorange;
                border-color: white;
                color: white;
            }
        }
    }
}
